:root {
    --primary-color: #615751;
    --secondary-color: #938275;
    --background-color: #ecf0f1;
    --text-color: #34495e;
    --border-color: #bdc3c7;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    color: var(--text-color);
    background-color: var(--background-color);
    margin: 0;
    padding: 0px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding-bottom: 50px;
}

.form-container, .calendar-container {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

#calendar-controls {
    display: flex;                 
    align-items: center;          
    justify-content: space-between; 
}

#calendar-controls button {
    background: #f2eeea;  
    border: none;             
    cursor: pointer;          
    padding: 10px;           
    color: var(--secondary-color);          
    font-size: 30px;         
    transition: color 0.3s;  
}

#calendar-controls button:hover {
    color: var(--primary-color);          
}

.form-container {
    flex: 1;
    min-width: 300px;
}

.calendar-container {
    flex: 2;
    min-width: 400px;
}

h1, h2 {
    color: var(--primary-color);
    margin-top: 0;
    text-align: center;
}

.form-container h1 {
    font-size: 2em;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: 500;
}

input, select {
    width: 100%;
    padding: 8px;
    border: 1px solid var(--border-color);
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    background-color: var(--primary-color);
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: var(--secondary-color);
}

#calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
    margin-top: 20px;
}

.calendar-day {
    background-color: #f2eeea;
    border-radius: 4px;
    padding: 10px;
    text-align: center;
    position: relative;
    cursor: pointer;
}

.calendar-day.has-meeting {
    background-color: #d5f5e3;
}

.calendar-day:hover .meeting-tooltip {
    display: block;
}

.meeting-tooltip {
    display: none;
    position: absolute;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 10;
}

#meetings-list {
    margin-top: 20px;
}

.meeting-item {
    background-color: #f8f9fa;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 10px;
}

.home-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--primary-color);
    font-weight: 500;
    margin-bottom: 20px;
}

.home-link svg {
    margin-right: 10px;
}

.edit-btn, .delete-btn {
    padding: 5px 10px;
    margin-right: 5px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 14px;
}

.edit-btn {
    background-color: #f39c12;
}

.delete-btn {
    background-color: #e74c3c;
}

.calendar-url-container {
    margin-top: 20px;
}

.calendar-url-container input {
    margin-right: 10px;
    width: calc(100% - 110px);
}

.calendar-link-btn {
    display: inline-block;
    margin-top: 10px;
    padding: 5px 10px;
    background-color: var(--primary-color);
    color: white;
    border-radius: 4px;
    text-decoration: none;
    cursor: pointer;
}